@import './base.css';

:root {
  --main-font-color: #004aad;
  --hover-color: whitesmoke;
}

@font-face {
  font-family: "Dortmund";
  src: url('../assets/Dortmund.otf');
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
