@import './base.css';

:root {
  --main-font-color: #004aad;
  --button-background-color: #004aad;
  --button-background-active-color: #2073e1;
  --hover-color: whitesmoke;
}

@font-face {
  font-family: "Dortmund";
  src: url('../assets/Dortmund.otf');
}

* {
  font-family: Dortmund;
}

body {
  color: var(--main-font-color);
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  margin: 2rem 0;
  font-size: 4rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  width: 100%;
}

input, textarea {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.jeb-formError {
  font-size: 1.25rem;
  color: red;
  margin-top: 0.5rem;
}
